@global-letter-spacing: -0.45px;

.hook-base-body() {
    /* Add letter spacing for better readability */
    letter-spacing: @global-letter-spacing;

    /* Improve font rendering on MacOS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Ensure content is not hidden behind fixed headers when using anchor links */
    scroll-padding-top: @navbar-nav-item-height + @section-padding-vertical;
}
